<div class="container">
  <h1>Productos encontrados: {{pagination.totalProducts}}</h1>

  <table class="products-table">
  <thead>
    <tr>
      <th>Categoría</th>
      <th>Código</th>
      <th>Producto</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody id="products-tbody">
    {{#each products}}
    <tr>
      <td>{{category}}</td>
      <td>{{code}}</td>
      <td>{{name}}</td>
      <td>${{price}}</td>
      <td class="table-actions"><button class="add-btn" data-id="{{id}}">Agregar al carrito</button><button class="delete-btn" data-id="{{id}}">Eliminar</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

  <div class="pagination">
    {{#if pagination.hasPrevPage}}
      <a href="{{currentUrl}}?page={{pagination.prevPage}}&limit={{pagination.limit}}{{#if filters.query}}&query={{filters.query}}{{/if}}{{#if filters.sort}}&sort={{filters.sort}}{{/if}}">Anterior</a>
    {{/if}}
    
    <span>Página {{pagination.currentPage}} de {{pagination.totalPages}}</span>
    
    {{#if pagination.hasNextPage}}
      <a href="{{currentUrl}}?page={{pagination.nextPage}}&limit={{pagination.limit}}{{#if filters.query}}&query={{filters.query}}{{/if}}{{#if filters.sort}}&sort={{filters.sort}}{{/if}}">Siguiente</a>
    {{/if}}
  </div>


  <div>
    <p>Cantidad total de productos en el carrito: <span id="cart-count">0</span></p>
    {{#each cart}}
    <p>{{products.name}} - ({{quantity}})</p>
    {{/each}}
    <button id="send-btn">Enviar carrito</button>
  </div>

  <a class="nav-link" href="http://localhost:8080/api/v1/views/carts">Ver todos los carritos</a>
</div>



<script src="/js/products.js"></script>