<div class="products-container">
  <h1>Productos encontrados: {{pagination.totalProducts}}</h1>

  <table class="products-table">
  <thead>
    <tr>
      <th>Categoría</th>
      <th>Código</th>
      <th>Producto</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody id="products-tbody">
    {{#each products}}
    <tr>
      <td>{{category}}</td>
      <td>{{code}}</td>
      <td>{{name}}</td>
      <td>${{price}}</td>
      <td><button class="add-btn" data-id="{{id}}">Agregar al carrito</button><button class="delete-btn" data-id="{{id}}">Eliminar</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

  <div class="pagination">
    {{#if pagination.hasPrevPage}}
      <a href="{{currentUrl}}?page={{pagination.prevPage}}&limit={{pagination.limit}}{{#if filters.query}}&query={{filters.query}}{{/if}}{{#if filters.sort}}&sort={{filters.sort}}{{/if}}">Anterior</a>
    {{/if}}
    
    <span>Página {{pagination.currentPage}} de {{pagination.totalPages}}</span>
    
    {{#if pagination.hasNextPage}}
      <a href="{{currentUrl}}?page={{pagination.nextPage}}&limit={{pagination.limit}}{{#if filters.query}}&query={{filters.query}}{{/if}}{{#if filters.sort}}&sort={{filters.sort}}{{/if}}">Siguiente</a>
    {{/if}}
  </div>


  <div>
    <p>Cantidad de productos en el carrito: </p>
  <button class="send-btn">Enviar carrito</button>
  </div>
</div>



<script src="/js/products.js"></script>